// @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

// @font-face {
//     font-family: 'Pretendard-Regular';
//     src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
// }

@mixin dropShadow {
    box-shadow: 0 0 32px 0 rgba(137, 189, 214, 0.1);
}

body {
    background: linear-gradient(to top, #f2f5f7, #ffffff);
}

/* background */
.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

$particleSize: 20vmin;
$animationDuration: 6s;
$amount: 6;

.bubble {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    // background: radial-gradient(circle, rgba(242, 245, 247, 1), rgba(242, 245, 247, 0));
    // background: rgba(0, 0, 0, 0.3);
}

.background>span {
    width: $particleSize;
    height: $particleSize;
    border-radius: $particleSize;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: $animationDuration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    $colors: (
        #ffffff,
    );

@for $i from 1 through $amount {
    &:nth-child(#{$i}) {
        background-image: url(./../../images/bg_bubble_test.png);
        color: nth($colors, random(length($colors)));
        top: random(100) * 1%;
        left: random(100) * 1%;
        animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
        animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
        transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
        // $blurRadius: (
        //     random() + 0.5) * $particleSize * 0.5;
        $x: if(random() > 0.5, -1, 1);
        // box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
        box-shadow: ($particleSize * 2 * $x) 0 currentColor;
    }
}
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

// layout
.wrap {
    margin: 0 auto;
    max-width: 1920px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    height: 100%;

    .inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
    }
}









/*  */
/*  */






/* fp-nav right style */
#fp-nav ul li .fp-right {
    color: $b;
    font-size: 20px;
    margin-right: 10px;
    font-family: "LeeSeoyun";
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: $pointColor;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}