/* Section : Project */

/* Project Layout */
.project .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;

    .content {
        position: relative;

        width: 100%;
        height: 100%;
        max-width: 1200px;

        @include dropShadow;
    }
}

.iframe {
    display: block;
    width: 100%;
    height: 100%;

    background-color: #fff;
}

// device toggle
$switchPH: 10px;
$btnToggleH: 10px;
$btnToggleFontSize: 16px;

.switch {
    display: flex;
    flex-direction: row;
    gap: 16px;

    position: absolute;
    bottom: 40px;
    left: 50%;

    padding: 10px;

    background-color: $w;
    border: 1px solid $primary;
    border-radius: calc($btnToggleFontSize + $switchPH * 2 + $btnToggleH * 2);

    transform: translateX(-50%);

    button {
        padding: 10px 20px;
        background: $w;
        border: 1px solid $primary;
        border-radius: calc($btnToggleFontSize + $btnToggleH * 2);
        color: $primary;
        font-size: $btnToggleFontSize;
        font-weight: 700;
        cursor: pointer;
    }

    button.active {
        padding: 10px 20px;
        background: $primary;
        border-radius: calc($btnToggleFontSize + $btnToggleH * 2);
        color: $w;
        font-size: $w;

        font-weight: 700;
        cursor: pointer;
    }
}

/* Project Infomation */
// 우측 텍스트 영역
.project-info {
    margin-left: 40px;
    max-width: 500px;

    .tit {
        font-size: 64px;
        font-weight: 700;
    }

    .description {
        span {
            font-weight: 700;
        }
    }

    .link {
        display: block;
        font-size: 20px;
        font-weight: 700;
    }
}