/* Section : profile */
.profile .container {
    justify-content: center;
    align-items: center;
}

.profile .inner {
    height: 100%;
    max-width: 1280px;
    // padding: 200px 0;

    .col {
        display: flex;
        flex-direction: column;
    }

    .info {
        img {
            display: block;
            width: 100%;
            height: 100%; // 임시 : 정사각형 비율고정 필요
            background-color: #fff;
        }

        .info-name {
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;
        }

        .info-mail {
            font-size: 20px;
        }


    }

    .feature {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        max-width: 400px; // 임시

        .keyword {
            font-size: 32px;
            font-weight: 700;

            p+p {
                margin-top: 28px;
            }
        }

    }

    .skill {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .lang,
        .etc {
            display: inline-block;
        }

        .skill-tit {
            font-size: 32px;
            font-weight: 700;
        }
    }

    .tool-container {
        display: flex;
        flex-direction: column;
    }

    $iconSpace: 20px;

    .tool+.tool {
        margin-top: $iconSpace;
    }

    .tool {
        display: flex;
        flex-direction: row;

        img {
            display: inline-block;
            width: 70px;
            height: 70px;
        }

        img+img {
            margin-left: $iconSpace;
        }
    }

    .as_h2 {
        font-size: 40px;
        font-weight: 700;
    }

}